body{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #48555B;
  

  
}
* ,*::before, *::after{
  box-sizing: border-box;
}
h1,h2,h3,h4{
  margin: 0;
  padding: 0;

}
/*          button
<<===========================
============================>> */

.btn {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.1;
  white-space: nowrap;

  color: #ffffff;
  background-color: #00A4E5;
  margin: 0 auto;
  padding:11px 30px;
  border: 0;
  outline: #ffffff;

  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  max-height: 40px;

  transition: background-color .1s linear;
}
.btn:hover {
  background-color: #0087bd;
}


/*          Main
<<===========================
============================>> */

.main {
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 41px 0 71px;
  overflow: hidden;
  
}

.container {
  width: 100%;
  max-width: 910px;
  padding: 0 15px;
  margin: 0 auto;
}

.main__iner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__logo {
  margin-bottom: 300px;
}
.main__title{
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 3px;
}
.main__subtitle{
  margin-bottom: 370px;

  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}
.main__footer{
  font-weight: 600;
  font-size: 11px;
  color: #ffffff;
  letter-spacing: 5px;
}
.main__footer a{
  text-decoration: none;
  color: inherit;
}

/*          Header
<<===========================
============================>> */


.header__iner{
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav {
  display: flex;
}
.nav_item {
  margin-left: 40px;

  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.5px;

  color: #48555b;
  text-decoration: none;
  text-transform: uppercase;

  transition: color .1s linear;
}
.nav_item:first-child {
  margin-left: 0;
}
.nav_item:hover{
  color: #00A4E5;
}
.header_border_line{
  border: 0;
  background-color:rgb(0, 0, 0, 0.1);
  height: 1px;
}

/*          BURGER
<<===========================
============================>> */

.burger {
  padding-top: 14px;
  cursor: pointer;
  display: none;
  
}
.burger__line {
  content: '';
  display: block;
  height: 2px;
  width: 20px;
  background-color: rgb(90, 90, 90);
}
.burger__line::after {
  content: '';
  display: block;
  height: 2px;
  width: 20px;
  background-color: rgb(90, 90, 90);

  position: absolute;
  right: 0;
  top: 25px;
}
.burger__line::before {
  content: '';
  display: block;
  height: 2px;
  width: 20px;
  background-color: rgb(90, 90, 90);

  position: absolute;
  right: 0;
  top: 33px;
}

.burger__menu {
 position: absolute;
 top: 77px;
 right: 0px;
 background-color:#171819;
 opacity: 1;
 width: 100%;
 display: none;
}
.burger__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.burger__nav_item {
  margin-top: 20px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.5px;

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.burger__nav_item:active{
  color: #00A4E5;
}



/*          Story
<<===========================
============================>> */

.story {
  padding: 57px 0;
}

.story__title{
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 18px;
  color: #48555b;
  text-align: center;
  letter-spacing: 3px;
}
.story__title_line {
  margin-bottom: 75px;

  border: 0;
  border-radius: 2px;
  background-color:#00A4E5;
  height: 3px;
  width: 50px;
}
.story__iner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.story__left {
  width: 40%;
  margin-bottom: 20px;
}

.left__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}
.left__title > span {
  color: #00A4E5;
}
.left_text {
  margin-top: 30px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
}

.story__right {
  width: 60%;
  display: flex;
  
}
.right__storyCard {
  position: relative;
  max-width: 224px;
  margin-left: 20px;
}
.right__storyCard:first-child {
  margin-left: 80px;
}
.right__storyCard_title{
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
  
  position: absolute;
  top: 20px;
  left: 10px;
}




/*          Servise
<<===========================
============================>> */

.servise__iner{
  margin: 90px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.servise__title {
  width: 20%;
}
.servise__title h2{
  font-weight: 700;
  font-size: 18px;
  color: #48555B;
  
}
.servise__title h2::after{
  content: '';
  display: block;
  height: 2px;
  background-color: #00A4E5;
  width: 50px;
  margin-top: 10px;
}


.servise__desc {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.servise__desc p{
  font-weight: 400;
  font-size: 11px;
  color: #48555B;
  margin-right: 30px;
}




/*          Work
<<===========================
============================>> */
.work {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.work__item{
  border: 1px solid #E6E6E6;
  padding: 38px 23px;
  display: flex;
  flex-direction: column;
  width: 32%;
  margin-bottom: 20px;
}
.work__item img {
  margin-bottom: 25px;

  display: block;
  max-width:65px;
  max-height: 75px;
}
.work__item h3 {
  margin-bottom: 13px;

  font-weight: 700;
  font-size: 16px;
  color: #48555B;
}
.work__item p {
  font-weight: 400;
  font-size: 13px;
}




/*          Build
<<===========================
============================>> */


.build {
  margin-top: 115px;
  padding: 120px 0 230px 0;
  background: url('../img/bg-2.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
.build__iner {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.build__iner h1 {
  margin-bottom: 35px;

  font-weight: 700;
  font-size: 30px;
  line-height: 1.1;
  color: #48555B;
  text-align: center;
}



/*          Signup
<<===========================
============================>> */

.signup {
  background-color: #171819;
  overflow: hidden;
}
.signup__iner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.signup__title {
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  padding: 35px;
}
.signup__form {
  display: flex;
  
}
.signup__form input {
  font-family: inherit;
  font-size: 14px;
  color: #48555B;

  padding: 10px 98px 10.2px 16px;
  margin-right: 10px;
  margin-bottom: 5px;
}




/*          Footer
<<===========================
============================>> */

.footer {
  background-color: #141A20;
  padding: 48px 0 0 0;
  overflow: hidden;
}
.footer__iner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  
}
.footer__item {
  display: flex;
  flex-direction: column;
  width: 12%;
}
.footer__item:first-child {
  width: 27.5%;
}
.footer__item h4 {
  margin-bottom: 19px;

  font-weight: 400;
  font-size: 11px;
  color: #f1f1f1;
  text-transform: uppercase; 
}
.footer__item img{
  display: block;
  max-width:101px;
  max-height:23px;
}
.footer__item p {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  color: #c9c9c9;
}
.footer__item ul{
  padding: 0;
  margin: 0;
}
.footer__item li {
  margin-bottom: 10px;
  
  list-style: none;
}
.footer__item a {
  text-decoration: none;
  color: #c7c7c7;
  font-weight: 600;

  transition: color .1s linear;
}
.footer__item a:hover {
  color: #0087bd;
}
.faq, .blog {
  margin-top: 30px;
}
.social__iner {
  display: flex;
  justify-content: space-around;
}
.social__iner img {
  max-width: 20px;
  max-height: 20px;
  margin-bottom: 15px;
  background-color: white;
}
.footer__bottom {
  background-color: #171819;
}
.footer__bottom_text {
 text-align: center;
 padding: 23px 0;
}

/*      Media adaptive
<<===========================
============================>> */

@media(max-width:991px) {

/* STORY  */

  .left__title{
    text-align: center;
  }
  .left_text {
    text-align: center;
  }
  .story__left {
    width: 100%;
  }
  .story__right {
    width: 100%;
    justify-content: center;
  }
  .right__storyCard:first-child {
    margin: 0;
  }
/* STORY  */


}

@media(max-width:768px) {

/* MAIN  */
  .main {
    height: auto;
}
  .main__logo {
    margin-bottom: 200px;
  }
  .main__title {
    font-size: 35px;
  }
/* MAIN  */

}

@media(max-width:576px){
  /* MAIN  */
  .main__logo {
    margin-bottom: 150px;
  }
  .main__title {
    font-size: 30px;
    text-align: center;
  }
  .main__subtitle{
    font-size: 14px;
    text-align: center;
  }
/* MAIN  */

/* HEADER */
.nav {
  display: none;
}
/* HEADER */


/* BURGER */
.burger {
  display: block;
}
.burger__menu.show {
  display: block;
  right: 0;
  transition: right .3s ease-in;
}
.burger__menu.hide{
  display: none;
  right: -530px;
  transition: right .3s ease-out;
}
/* BURGER */


  /* STORY  */
  .story__title_line {
    margin-bottom: 30px;
  }
  .right__storyCard_img{
    width: 100%;
  }
  .right__storyCard {
    margin: 0 ;
    margin-bottom: 10px;
  }
  .right__storyCard:first-child{
    margin: 0;
    margin-bottom: 10px;
  }
  .story__right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
/* STORY  */

/* SERVISE  */

.servise__iner {
  flex-direction: column;
}
.servise__title {
  margin-bottom: 20px;
  text-align: center;
}
.servise__desc {
  text-align: center;
}
.servise__title h2::after {
  margin: 10px auto;
}

/* SERVISE  */

/* WORK  */
.work__item {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.work__item img {
  margin: 0 auto;
  margin-bottom: 20px;
}
.work__item h3 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.work__item p {
  text-align: center;
}
/*  WORK  */

/*  BUILD  */
.build {
  margin-top: 10px;
}
/*  BUILD  */

/*  SINGUP  */
  .signup__form{
    margin-bottom: 35px;
  }
/*  SINGUP  */

/*  FOOTER  */
  .footer__item {
    width: 25%;
  }
  .social__iner {
    display: block;
  }
/*  FOOTER  */

}


@media(max-width:414px) {
  /* MAIN  */
    .main__logo {
      margin-bottom: 100px;
    }
    .main__title {
      font-size: 28px;
    }
    .main__subtitle{
      font-size: 13px;
      margin-bottom: 100px;
    }
  /* MAIN  */

/* SERVISE  */

.servise__iner {
  margin: 40px 0;
}
.servise__title {
  display: flex;
  justify-content: center;
}
.servise__title h2{
font-size: 16px;
}
.servise__desc {
  flex-direction: column;
}
.servise__desc p{
  margin: 0;
  margin-bottom: 20px;
}
.servise__title h2::after {
  margin: 10px auto;
}
/* SERVISE  */


/*  BUILD  */
.build {
  padding: 50px 0 130px 0;
}
/*  BUILD  */

/*  SINGUP  */
.signup__title{
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
}
.signup__form{
  flex-direction: column;
}
.signup__form button {
  width: 100%;
}
.signup__form input{
  margin: 0 auto;
  margin-bottom: 20px;
}
/*  SINGUP  */



/*  FOOTER  */
.footer__item {
  width: 50%;
}
.adress {
  display: none;
}
.social__iner {
  display: flex;
  margin-top: 20px;
  width: 100%;
}
/*  FOOTER  */







}
